<template>
  <div>
    <h1>{{ msg }}</h1>
    <b-card title=""
            tag="article"
            style="max-width: 20rem;"
            class="mb-2">
      <p class="card-text">
        ID: {{id}}
        Название: {{name}}
      </p>
    </b-card>
  </div>
</template>

<script>
  import store from '../store'

  export default {
    name: 'Bar',
    data() {
      return {
        msg: 'Bar Page',
        id: store.state.id,
        name: store.state.name
      };
    },
  };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
