<template>
  <div>
    <h1>{{ msg }}</h1>
    <b-form-group id="exampleInputGroup1"
                  label="ID"
                  label-for="exampleInput1"
                  description="Введите ID эллемента">
      <b-form-input id="exampleInput1" v-model="id" type="text" placeholder="ID"></b-form-input>
    </b-form-group>
    <b-form-group id="exampleInputGroup2"
                  label="Название"
                  label-for="exampleInput2"
                  description="Введите название эллемента">
      <b-form-input id="exampleInput2" v-model="name" type="text" placeholder="Название"></b-form-input>
    </b-form-group>
    <b-button variant="success" @click="addNote">Сохранить</b-button>
  </div>
</template>

<script>
  import store from '../store'

  export default {
    name: 'Foo',
    data() {
      return {
        msg: 'Foo Page',
        id: null,
        name: null
      };
    },
    methods: {
      addNote () {
        console.log(this.id);
        store.commit('addNote', {id: this.id, name: this.name})
      },
    }
  };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
